[submodule "org-mode"]
	path = org-mode
	url = https://code.orgmode.org/bzg/org-mode.git
[submodule "org-contrib"]
	path = org-contrib
	url = https://git.sr.ht/~bzg/org-contrib
[submodule "org-ref-cite"]
	path = org-ref-cite
	url = git@github.com:jkitchin/org-ref-cite.git
