.persistent-scratch
ac-comphist.dat
auto-save-list/
elfeed.score
elfeed.score~
elpa/
emacs.desktop
eshell/history
eshell/lastdir
ido.last
ido.last~
projectile-bookmarks.eld
quelpa/
recentf
smex-items
snippets/org-mode/3part~
snippets/org-mode/srcg~
snippets/org-mode/srct~
tmp/savehist
tutorial/
url/
*~
elfeed.stats
projectile.cache
savefile/
org-roam.db
eln-cache/
_activated/use-khalel.el
